body {
  width: 100%;
  background-image: url(/background-7261161_1280.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 10px;
  min-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Arvo", serif;
}
button {
  background-color: #e6f0de;
  width: 110px;
  height: 45px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Arvo", serif;
  border: 1px solid black;
}
#delete_btn {
  background-color: #e6f0de;
  border: 1px solid black;
}

ul {
  padding: 0;
  margin-top: 10px;
}
li {
  list-style: none;
  margin: top 5px;
  margin-bottom: 5px;
  font-family: "Arvo", serif;
}
a {
  color: #e6f0de;
  font-size: 15px;
  font-family: "Arvo", serif;
}
